/*base.css*/


body {
  height: 100%;
  background: #fff !important;
  padding: 15px;
  padding-top: 70px;
  padding-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.border-space {
  border-bottom: solid 1px gray;
  /*margin-bottom: 8px;*/
}


dt.metadata {
  border-bottom: solid 1px gray;
  padding-top: 8px;
}

.navbar-fixed-top {
  background: #fff;
}

.navbar-fixed-bottom {
  text-align: center;
}

/******************************** Colors **********************************************/
.clr-collection { background-color: #143D29 }
.clr-language { background-color: #143D29 }
.clr-contributor { background-color: #143D29 }

/******************************** End Colors **********************************************/


/******************************** Box Borders **********************************************/
.row .my-inner {
  padding: 5px;
  margin: 10px 1px 1px 1px;
}

.list-group-item.hilite_row {
  background-color: #B2D1B2
}

#search {
  border: 1px solid black;
  padding: 1px;
  margin: 10px;
}
/******************************** End Box Borders **********************************************/


/******************************** Search UI box **************************************************/
.searchBox {
  line-height:200%;
}

.searchBox li {
  list-style-type: none;
}
/******************************** End Search UI box **********************************************/