<!-- base-side-menu.html -->
<div class="row">
	<div class="col-md-12">
		<p><a href="{% url 'page_view' 13 %}" class="btn btn-lg btn-block bg-llt-gray">Announcements</a></p>
		<div class="well text-center bg-llt-gray">
			<p style="font-size: 2.5em">2.293</p>
			<p style="font-size: 0.8em">Impact Factor </p>
			<p style="font-size: 0.6em">(2016 ISI Journal Citation Reports)</p>
		</div>		            					
        <p><a href="{% url 'page_view' 11 %}" class="btn btn-lg btn-block bg-llt-gray">Donate</a></p>
        <p><a href="{% url 'page_view' 12 %}" class="btn btn-lg btn-block bg-llt-gray">Subscribe</a></p>

		<ul class="list-unstyled">			
			<li><a href="{% url 'page_view' 4 %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 4 %}<i class="fa fa-circle lt-gray"></i>{% endif %} Submit a Manuscript</a></li>
			
			<li><a href="{% url 'page_view' 6 %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 6 %}<i class="fa fa-circle lt-gray"></i>{% endif %} Submission Guidelines</a></li>

			<li><a href="{% url 'page_view' 5 %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 5 %}<i class="fa fa-circle lt-gray"></i>{% endif %} Research Guidelines</a></li>
						
			<li><a href="{% url 'page_view' 7 %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 7 %}<i class="fa fa-circle lt-gray"></i>{% endif %} Permissions</a></li>
						
			<li><a href="{% url 'page_view' 14 %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 14 %}<i class="fa fa-circle lt-gray"></i>{% endif %} CALL Dissertations</a></li>
			
			<li><a href="{% url 'page_view' 10 %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 10 %}<i class="fa fa-circle lt-gray"></i>{% endif %} Annual Reports</a></li>

			<li><a href="{% url 'previous_issues' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 'previous_issues' %}<i class="fa fa-circle lt-gray"></i>{% endif %} Previous Issues</a></li>
		</ul>
	</div>
</div>

{% if cur_page == 4%}<i class="fa fa-circle text-info"></i>{% endif %}