<!-- collection_view.html -->
{% extends 'base.html' %}
{% load staticfiles %}


{% block page_header %}{{ object }}{% endblock page_header %}

{% block content %}	

	<div class="row">
		<div class="col-md-12">
			<!-- <h2>Globe Trekker</h2>	 -->
		</div>

	</div>

<!--
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default my-inner">
				<div class="panel-heading"><h4>Search in {{object}}</h4></div>
				<form action="{% url 'search' %}" method="POST">{% csrf_token %}
					<ul class="nav nav-pills nav-justified">
					  <li class="dropdown">
					  	<select name='query' class="form-control" id='query'>
					  		<option selected="selected" disabled>Metadata Element</option>
						    <option value="title">Title</option>
						    <option value="date">Date</option>
						    <option value="depositor">Depositor</option>
						    <option value="coverage">Coverage</option>
						    <option value="language">Language</option>
						</select>
					  </li>
					  <li class="dropdown">
					  	<select name='type' class="form-control" id='type'>
					  		<option selected="selected" disabled>Query Type</option>
						    <option value="is">Is</option>
						    <option value="contains">Contains</option>
						</select>
					  </li>
					  <li id="filter"><button type="submit" class="btn btn-default">Search</button></li>
					  <input id="key" name="key" type="text" class="form-control" placeholder="Add keyword">
					</ul>
				</form>
			</div>
		</div>
	</div>
-->

	<div class="row">
		<div class="col-md-12 my-inner">
			<div class="panel panel-default">
<!--
				<div class="panel-heading searchUI-heading"><h4>Showing 10 records out of {{size}} results for {{object}}</h4></div>
				<ul class="nav nav-pills nav-justified">
				  <li class="previous disabled"><a>&larr; Previous</a></li>
				  <li class="dropdown">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort by <span class="caret"></span> </a>
				  	<ul class="dropdown-menu" role="menu">
					  	<li><a href="">Title</a></li>
		                <li><a href="">Date</a></li>
		                <li><a href="">Contributor</a></li>
		                <li><a href="">Coverage</a></li>
		                <li><a href="">Language</a></li>
				  	</ul>
				  </li>
				  <li class="dropdown">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Order <span class="caret"></span> </a>
				  	<ul class="dropdown-menu" role="menu">
					  	<li><a href="">Ascending</a></li>
		                <li><a href="">Descending</a></li>
				  	</ul>
				  </li>
				  <li class="dropdown">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Number of results <span class="caret"></span> </a>
				  	<ul class="dropdown-menu pivotElement" role="menu">
					  	<li id="pivot10"><a>10</a></li>
		                <li id="pivot20"><a>20</a></li>
		                <li id="pivot30"><a>30</a></li>
		                <li id="pivot50"><a>50</a></li>
		                <li id="pivotAll"><a>All</a></li>
				  	</ul>
				  </li>
				  <li class="next"><a>Next &rarr;</a></li>
				</ul>
-->
				<div class="searchBox">
					{% for i in items %}
							<div class="panel panel-default">
							    <div class="panel-heading">
							      <h4 class="panel-title">
							        <span data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{forloop.counter0}}">
							          {{forloop.counter}}. <span>{{ i.as_dict.title.0 }}</span> <span class="small">{{ i.as_dict.description.0 }}</span>
							        </span>
							        <a href="{{ i.get_absolute_url }}"> <i class="fa fa-external-link"></i></a>
							      </h4>
							    </div>
							    
							    <div id="collapseOne{{forloop.counter0}}" class="panel-collapse collapse">
									<div class="panel-body">											
										{% for key, values in i.as_dict.items %}
											<h6>
												<b>{{ key }}: </b> 
												{%for j in values %}
													<span> {{ j|urlize }}{% if not forloop.last %};{% endif %} </span>
												{% endfor %}
											</h6>
										{% endfor %}
									</div>
							    </div>
							</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>


{% endblock content %}

{% block js_script %}
	<script type="text/javascript">
		//Get the coordinates info and data from the records inside the DOM
        var json = {{ mapped_plots|safe }};
    </script>
{% endblock js_script %}

{% block js_include %} 
  <!--Google Map js libraries-->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>  -->

  <!-- Local js -->
  <!-- <script src="{% static 'js/dla.js' %}"></script> -->
{% endblock js_include %}