<!-- collection_view.html -->
{% extends 'base.html' %}
{% load staticfiles %}


{% block page_header %}
<h4><i class="fa fa-caret-left"></i> <a href="{% url 'home' %}" class="static_a_display">Volumes</a></h4>

<h2>{{ object }}</h2>
{% endblock page_header %}

{% block content %}	

	<div class="row">
		<div class="col-md-6">
			{% if toc.Article %}<h4 class="border-space">Articles</h4>{% endif %}
			{% for doc in toc.Article %} 
				<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
					<strong>{{ doc.0 }}</strong> <span class="pull-right"><em>{{ doc.3 }}</em></span>
					<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
					<p class="small">{{ doc.2.0 }} </p>
				</a>
			{% endfor %}	
		</div>
		<div class="col-md-6">
			{% if toc.Column %}<h4 class="border-space">Columns</h4>{% endif %}
			{% for doc in toc.Column %} 
				<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
					<strong>{{ doc.0 }}</strong> <span class="pull-right"><em>{{ doc.3 }}</em></span>
					<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
				</a>
			{% endfor %}
			{% if toc.Review %}<h4 class="border-space">Reviews</h4>{% endif %}
			{% for doc in toc.Review %} 
				<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
					<strong>{{ doc.0 }}</strong> <span class="pull-right"><em>{{ doc.3 }}</em></span>
					<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
				</a>
			{% endfor %}
		</div>

	</div>

{% endblock content %}
