<!-- index.html -->
{% extends 'base.html' %}
{% load staticfiles %}


{% block submenu %}{{ block.super }}{% endblock submenu %}

{% block content %}
	
<!-- ROW 1 -->
	<div class="row">
		<div class="col-md-12 block-center">
			<h2 class="text-center"></h2>
		</div>
	</div>

<!-- ROW 2 -->
	<div class="row">
	
		<div class="col-md-9">
		{% for volume in volumes %}
			<ul class="list-unstyled">
				<li>
					{% if forloop.first %}
						<sup><span class="badge">latest</span></sup> <a href="{% url 'collection' volume.0.identifier %}" class="btn btn-lg btn-link static_a_display">{{ volume.0.name }}</a>
					{% else %}
						<a href="{% url 'collection' volume.0.identifier %}" class="btn btn-md btn-link static_a_display">{{ volume.0.name }}</a>
					{% endif %}
					</h3>
				</li>
				
				{% if forloop.first %}
				<li>					
					<div class="row">					
						<div class="col-md-6">							
							{% if volume.0.list_toc.Column %}<h4 class="border-space">Columns</h4>{% endif %}
							{% for i in volume.0.list_toc.Column %}<p><a href="{{ i.get_absolute_url }}">{{ i }}</a></p>{% endfor %}
							
							{% if volume.0.list_toc.Review %}<h4 class="border-space">Reviews</h4>{% endif %}
							{% for i in volume.0.list_toc.Review %}<p><a href="{{ i.get_absolute_url }}">{{ i }}</a></p>{% endfor %}
						</div>
						<div class="col-md-6">
							{% if volume.0.list_toc.Article %}<h4 class="border-space">Articles</h4>{% endif %}
							{% for i in volume.0.list_toc.Article %}<p><a href="{{ i.get_absolute_url }}">{{ i }}</a></p>{% endfor %}
						</div>		
					</div>
				</li>
				{% endif %}

			</ul>
			{% endfor %}
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12"><p><em>side bar content here...</em></p></div>
			</div>
		</div>
	
	</div>
	
{% endblock content %}
		

