<!-- item_view.html -->
{% extends 'base.html' %}

{% block page_header %}<small></small>{% endblock page_header %}

{% block content %}
	<h2>{{ item_data.title.0 }}</h2>
	<h4>{% for i in item_data.author %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</h4>
	{% comment %}
	{% for k,v in item_data.items %}
		<h5>
			<i>{{ k }}</i>: 
			{%for i in v %}	
				<span><b>
					{% if k == 'identifier' %} {{ i|urlize }} {% else %} {{ i }} {% endif %}
					{% if not forloop.last %};{% endif %}
				</b></span> 
			{% endfor %}
		</h5>
	{% endfor %}
	{% endcomment %}
	<iframe width="100%" height="1200px" src="{{ item_data.bitstream.0}}"></iframe>		
{% endblock content %}
